header {
  background-color: mediumseagreen;
  height: 90px;
}

nav {
  margin: 0 auto;
  width: 960px;
}

nav img {
  margin-top: 20px;
  float: left;
  margin-right: 30px;
  width: 100px;
  height: 50px;
}

nav ul {
  float: left;
}

nav li {
  float: left;
  line-height: 90px;
  margin-right: 200px;
  font-size: 30px;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: bisque;
}

h1 {
  color: maroon;
  font-size: 50px;
  font-family: fantasy; 
  margin-top: 20px;
}

main > img:first-child {
  margin-top: 30px;
}

main > ul:nth-child(2){
  margin-top: 30px;
  overflow: hidden;
}

main > ul:nth-child(2) > li {
  float: left;
  margin-right: 30px;
}

main > ul:nth-child(2) > li:nth-child(3) {
  margin-right: 0;
}

table, td, th {
  align-content: center;
  background-color: mediumaquamarine;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 8px;
}