body {
  background-color: bisque;
  margin: 50px;
}

h1 {
  text-decoration-style: wavy;
  font-style: initial;
  color: maroon;
  font-family: fantasy; 
}

nav {
  padding: 15px;
  background-color: mediumseagreen;
}

a {
  padding-left: 50px;
  color: midnightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  background-color: mintcream;
  color: black
}

img {
  width: 400px;
  height: 150px;
}

table, td, th {
  align-content: center;
  background-color: mediumaquamarine;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 8px;
}